# Replace example.com with your application's domain
metro-stripe.nft-metro.com {
  # node-app:4000 is the docker container running the Node.js application
  # in our case it's exposed on port 4000
  reverse_proxy node-app:4000  {
    
   }
}